# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data artifacts
data/raw/
data/interim/
data/processed/
results/
logs/

# OS/editor
.DS_Store
Thumbs.db
.vscode/
